<%- include('partials/header.ejs') %>
  <% if (locals.movies) { %>
    <div class="movie-grid">
      <% movies.forEach(movie=> { %>
        <div class="movie-card">
          <div class="card-inner">
            <div class="card-front">
              <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" class="movie-cover"
                alt="<%= movie.title %>">
              <div class="movie-content">
                <div class="movie-details">
                  <h3 class="text-gold fs-5 mb-1">
                    <%= movie.title.length> 62 ? movie.title.slice(0, 62) + "..." : movie.title %>
                  </h3>
                  <p class="release-date mb-2">
                    <%= movie.release_date %>
                  </p>
                  <div class="rating-stars">
                    <div class="stars">
                      <div class="stars-empty">★★★★★</div>
                      <div class="stars-filled" data-rating="<%= movie.vote_average %>">★★★★★</div>
                    </div>
                    <span class="text-light ms-1">
                      <%= movie.vote_average ? movie.vote_average.toFixed(1) : movie.vote_average %>/10
                    </span>
                  </div>
                  <p class="text-info small mt-1">
                    <%= movie.vote_count %> votes
                  </p>
                </div>
              </div>
              <form class="btn-container" method="POST">
                <input type="hidden" name="movieId" value="<%= movie.id %>">
                <button class="btn btn-outline-info btn-sm" formaction="/details">Details</button>
                <!-- <button class="btn btn-gold btn-sm btn-edit" type="button">Edit</button> -->
                <!-- <button class="btn btn-outline-danger btn-sm" formaction="/delete">Delete</button> -->
              </form>
            </div>
            <div class="card-back">
              <div class="back-content">
                <h3 class="text-gold fs-5 mb-1">
                  <%= movie.title %>
                </h3>
                <p>
                  <%= movie.overview %>
                </p>
                <button class="btn btn-outline-info btn-sm close-btn">Close</button>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
    <% } %>
      <%- include('partials/footer.ejs') %>